<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Spravíme čo je potrebné!</h2>
                <hr class="light">
                <p class="text-faded">Zvolíme správne komponenty zariadenia, na ktoré v 3D softvéri vymodelujeme držiaky, kryty, vyrobíme potrebné súčiastky, naprogramujeme zariadenie s použitím najvhodnejších algoritmov a osobne prídeme zariadenie nainštalovať. V prípade neskorších žiadaných zmien funkčnosti zariadenia, poskytneme podporu vo forme uskutočnenia požadovaných zmien.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">V čom sme jedineční?</a>
            </div>
        </div>
    </div>
</section>
