<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio-modal-1" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Návrh súčiastok v 3D softvéri
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio-modal-1" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Komplexné riešenia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Záťažové simulácie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Zložité koštrukcie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Navrhuté PCB dosky
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Návrh, výroba, koštrukcia zariadení
                            </div>
                            <div class="project-name">
                                Navrhnuté mikrokontroléry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
                <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Návrh, výroba, koštrukcia zariadení
                        </div>
                        <div class="project-name">
                            Veľa možností výroby - CNC fréza, 3D tlačiareň, sústruh, lis
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
                <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Návrh, výroba, koštrukcia zariadení
                        </div>
                        <div class="project-name">
                            Návrh veľkých zariadení
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
                <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Návrh, výroba, koštrukcia zariadení
                        </div>
                        <div class="project-name">
                            Vizualizácia výsledneho zariadenia
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary mb-0">RobotCing</h2>
              <hr class="star-dark mb-5">
              <p class="mb-3">
                Každý pozná firmu Lego. Vyrábajú najpopulárnejšie Lego stavebnice a sety. Vyrábajú Lego NXT a Lego EV3 sety, ktoré sa jednoducho programujú a konštruujú, ale po naučení sa ich obrázkoveho jednoduchého programovacieho jazyka nemá užívaťeľ ďalšie možnosti ako programovať ich lego stavebnicu. Užívateľovi ostáva jediná možnosť - prejsť na inú platformu, napríklad Arduino.
                Arduino je jedna z najlepších možností, nakoľko je lacnejšie ako akákoľvek iná platforma a taktiež je voľne dostupné. Ak sa užívateľ chce venovať Arduinu, musí mať znalosti z elektroniky. Avšak tento fakt si mnoho ľudí uvedomí až keď si Arduino kúpi a vačšina z nich to vzdá.
                Preto som s Veronikou Nemjovou vytvrol robota Cing - je to multifunkčný a praktický robot pre všetky vekové kategórie od začiatočníkov až po expertov, nakoľko nie je potrebná žiadna znalosť z elektorniky či programovania. Pomocou nami vytvorených knižníc, ktoré umožňujü praktické a jednoduché využitie robota Cing sa užívateľ naučí rýchlo, hravo a efektívne programovať.
                Pre ešte ľahšie programovanie a učenie sa sme vytvorili príručky, ktoré obsahujú všetky programy a následne ich vysvetľujú. Aby užívateľ vedel, ako správne poskladať robota Cing, použije opäť nami vytvorený manuál. Po naučení sa základných príkazov si môže vyskúšať cvičenia zo zbierky úloh na plátne s atrakciami.
                Po zvládnutí základných aj pokročilých progamovacích príkazov môže používateľ použiť robota Cing ako nástroj pre učenie sa elektroniky, nakoľko sa jednoducho dostane k schémam aj príručke, ako ho programovať bez použitia knižníc. To znamená, že užívateľ si môže vybrať, ako chce programovať Cing-a.

                <div class="text-left"><h3 class="text-secondary mb-0">Výhody robota Cing:</h3>
                  <li>Nepotrebná znalosť informatiky</li>
                  <li>Voľne prístupné diely</li>
                  <li>Vhodný pre všetky vekové kategórie</li>
                  <li>Pre začiatočníkov, ale aj pokročilých</li>
                  <li>Zábavná výučba vďaka edukačnému plátnu a cvičebniciam</li>
                  <li>Cenovo výhodný robot</li>
                </div>
              </p>
              <h3 class="text-secondary mb-0">Robot Cing 1.0</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/portfolio/cing_prototype.JPG" alt="">
              <h3 class="text-secondary mb-0">Robot Cing 2.0</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/portfolio/Cing2.jpg" alt="">
              <h3 class="text-secondary mb-0">3D model robota Cing 4.0</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/Cing Logo v4.png" alt="">
              <h3 class="text-secondary mb-0">Komponenty pripravené na poskladanie</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/components.jpg" alt="">
              <h3 class="text-secondary mb-0">Nanesenie cínovej pasty</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/pastovanie.jpg" alt="">
              <h3 class="text-secondary mb-0">Cínovanie</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/pecenie.jpg" alt="">
              <h3 class="text-secondary mb-0">Čistenie plošných spojov pomocou IPA</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/cistenie.jpg" alt="">
              <h3 class="text-secondary mb-0">Prvých 5 robotov poskladaných</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/first5.jpg" alt="">
              <h3 class="text-secondary mb-0">Online príručka</h3>
              <iframe class="books mb-3" src="https://online.anyflip.com/dpmp/jour/index.html" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
              <h3 class="text-secondary mb-0">Prezentovanie na MakerFaire Bratislava</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/makerfaire.jpg" alt="">
              <h3 class="text-secondary mb-0">Prezentovanie na Noci výskumníkov Bratislava</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/presentation.jpg" alt="">
              <h3 class="text-secondary mb-0">Prezentovanie na Pražskom robotickom dni</h3>
              <img class="img-fluid img-thumbnail mb-3 rounded" src="img/Leaf/prague_day.jpg" alt="">

              <a class="btn btn-primary btn-lg rounded-pill " href="https://github.com/RobotCing/Cing" target="_blank">
                <i class="fab fa-fw fa-github"></i>Github
              </a>
              <a class="btn btn-primary btn-lg rounded-pill " href="https://robotcing.sk" target="_blank">
                Web Stránka
              </a>
              <br></br>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Zavrieť projekt</a>
            </div>
          </div>
        </div>
      </div>
    </div>
