<section id="senzory2">
  <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Možnosť detekcie:</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <br>
<ul class="vlastny_text">
<li>Dotyku</li>
<li>iButton čipov</li>
<li>Čipových kariet, kľúčeniek RFID, NFC</li>
<li>Pohybu</li>
<li>Vibrácií</li>
<li>Prerušenia laserového lúča</li>
<li>Kolízie</li>
</ul>
</section>
