<section class="bg-primary" id="senzory1">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Možnosť využitia senzorov na meranie:</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <ul class="vlastny_text">
    <li>Odrazeného svetla – ide o rozpoznávanie základných druhov farieb</li>
    <li>Vzdialenosti (aj vo vode)</li>
    <li>Otočenia</li>
    <li>GPS</li>
    <li>Intenzity osvetlenia / svietivosti</li>
    <li>Intenzity zvuku (mikrofón), zaznamenávanie zvuku</li>
    <li>Veľkosti magnetického poľa, Kompas</li>
    <li>Vlhkosti pôdy</li>
    <li>Teploty</li>
    <li>Vlhkosti vzduchu</li>
    <li>Tlaku</li>
    <li>Času</li>
    <li>Srdcového pulzu</li>
    <li>Ultrafialového svetla – UVA, UVB</li>
    <li>EKG</li>
    <li>Koncentrácie plynov CO2, alkoholy, LPG</li>
    <li>PH faktoru</li>
    <li>Rýchlosti okolitých objektov</li>
    <li>Hmotnosti</li>
    <li>Hladiny vody</li>
    <li>Výšky hladiny vody, zrážok</li>
    <li>Prietoku tekutiny</li>
    </ul>
</section>
