<section id="senzory">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Možnosť využitia senzorov na meranie:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <ul class="vlastny_text">
    <li>Odrazeného svetla – ide o rozpoznávanie základných druhov farieb</li>
    <li>Vzdialenosti (aj vo vode)</li>
    <li>Otočenia</li>
    <li>GPS</li>
    <li>Intenzity osvetlenia / svietivosti</li>
    <li>Intenzity zvuku (mikrofón), zaznamenávanie zvuku</li>
    <li>Veľkosti magnetického poľa, Kompas</li>
    <li>Vlhkosti pôdy</li>
    <li>Teploty</li>
    <li>Vlhkosti vzduchu</li>
    <li>Tlaku</li>
    <li>Času</li>
    <li>Srdcového pulzu</li>
    <li>Ultrafialového svetla – UVA, UVB</li>
    <li>EKG</li>
    <li>Koncentrácie plynov CO2, alkoholy, LPG</li>
    <li>PH faktoru</li>
    <li>Rýchlosti okolitých objektov</li>
    <li>Hmotnosti</li>
    <li>Hladiny vody</li>
    <li>Výšky hladiny vody, zrážok</li>
    <li>Prietoku tekutiny</li>
    </ul>
    <br>
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Možnosť detekcie:</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <br>
<ul class="vlastny_text">
<li>Dotyku</li>
<li>iButton čipov</li>
<li>Čipových kariet, kľúčeniek RFID, NFC</li>
<li>Pohybu</li>
<li>Vibrácií</li>
<li>Prerušenia laserového lúča</li>
<li>Kolízie</li>
</ul>
<br>
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Možnosť ovládania:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <br>
<ul class="vlastny_text">
<li>Rýchlosti motorov, servo motorov, krokových motorov</li>
<li>LED diód</li>
<li>Displejov – OLED, LED, Nokia displej, ePaper, dotykový displej</li>
<li>Reproduktorov, buzzerov</li>
<li>Laserov</li>
<li>Viacerých zariadení cez Relé - osvetlenie,...</li>
<li>Čerpadla vody</li>
</ul>
<br>
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Možnosť komunikácie s ostatnými zariadeniami cez:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <br>
<ul class="vlastny_text">
<li>Bluetooth</li>
<li>Rádiový prenos</li>
<li>Infračervený prenos</li>
<li>Wifi</li>
<li>Mobilnú sieť</li>
</ul>
</section>
